 @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cinzel:wght@400;500;600;700&family=Coming+Soon&family=DM+Serif+Display&family=Montserrat:wght@500;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Pattaya&family=Space+Mono&family=Tinos&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cinzel:wght@400;500;600;700&family=Coming+Soon&family=DM+Serif+Display&family=Fraunces:wght@700&family=Montserrat:wght@500;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Pattaya&family=Space+Mono&family=Tinos&display=swap');



body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: font-family: 'Montserrat', sans-serif;
    background-color: #F3EAE3;
    border: 10px solid red;
    height: 100%;
}

.card {
    display: flex;
    width: 600px;
    height: 450px;
    grid-template-columns: 25% 25%;
    border-radius: 16px 16px ;
    background-color: white;
}

.card img{
    height: 450px;
    border-radius: 16px 0px 0px 16px; 
}

.info {
    padding: 5px 15px ;
}

.info h3 {
    font-size: 14px;
    font-weight: 200px;
    color: #cdcdd5;
    
}

.info h2 {
    font-size: 35px;
  font-weight: 700;
  font-family: 'Fraunces', serif;
}

.info p{
    font-size: 15px;
    color: #a9aaaf;
    font-family: 'Montserrat', sans-serif;
}

.info-f {
    display: flex;
    justify-content: flex-start;
    
}

.info-f h3 {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #458670;
}

.info-f h4 {
    font-size: 15px;
    font-weight: 200;
    text-decoration-line: line-through;
    color: #a1a4ad;
    
}
 .card footer button{
    width: 200px;
    height: 40px;
    border: #458670;
    border-radius: 5px 5px;
    color: white;
    background-color: #458670;
    
}