 @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cinzel:wght@400;500;600;700&family=Coming+Soon&family=DM+Serif+Display&family=Montserrat:wght@500;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Pattaya&family=Space+Mono&family=Tinos&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cinzel:wght@400;500;600;700&family=Coming+Soon&family=DM+Serif+Display&family=Fraunces:wght@700&family=Montserrat:wght@500;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Pattaya&family=Space+Mono&family=Tinos&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    background-color: #F3EAE3;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 450px;
    grid-template-columns: 25% 25%;
    border-radius: 10px 10px ;
    background-color: white;
}

.card img{
    height: 450px;
    border-radius: 10px 0px 0px 10px; 
}

.info {

    padding: 24px;
}

.info h3 {
    padding-bottom: 14px;
    font-size: 14px;
    font-weight: 700;
    color: #cdcdd5;
}

.info h2 {
  padding-bottom: 5px;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Fraunces', serif;
}

.info p{
    padding: 15px 5px;
    font-size: 15px;
    font-weight: 200;
    color: #a9aaaf;
    font-family: 'Montserrat', sans-serif;
}

.info-f {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.info-f h3 {
    font-size: 35px;
    font-family: 'Fraunces', serif;
    padding-right: 15px;
    color: #458670;
}

.info-f h4 {
    font-size: 15px;
    font-weight: 200;
    text-decoration-line: line-through;
    color: #a1a4ad;
    
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 250px;
    height: 50px;
    font-size: 15px;
    font-weight: 700;
    border: #458670;
    border-radius: 5px 5px;
    color: white;
    background-color: #458670;
}

button svg {

}

