 @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cinzel:wght@400;500;600;700&family=Coming+Soon&family=DM+Serif+Display&family=Montserrat:wght@500;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Pattaya&family=Space+Mono&family=Tinos&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cinzel:wght@400;500;600;700&family=Coming+Soon&family=DM+Serif+Display&family=Fraunces:wght@700&family=Montserrat:wght@500;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Pattaya&family=Space+Mono&family=Tinos&display=swap');



body{
    display: flex;
    background-color: #F3EAE3;
    justify-content: center;
    font-family: font-family: 'Montserrat', sans-serif;
    
}

.card {
    
    width: 600px;
    height: 450px;
    align-items: center;
    background-color: white;
    grid-template-columns: 25% 25%;
    display: flex;
    border-radius: 16px 16px ;
}

.card img{
    height: 450px;
    border-radius: 16px 0px 0px 16px; 
}

.info {
    padding: 24px 24px;
}

.info h3 {
    font-size: 14px;
    font-weight: 200px;
    color: #cdcdd5;
    
}

.info h2 {
    font-size: 35px;
  font-weight: 700;
  font-family: font-family: 'Fraunces', serif;
}

.info p{
    font-size: 20px;
    color: #a9aaaf;
    font-family: font-family: font-family: 'Montserrat', sans-serif;
}


